The lock file does not exist. Locking.
Updating dependencies
Resolving dependencies...

  FileNotFoundError

  [Errno 2] No such file or directory: '/mnt/c/Users/Mimi/Desktop/Projects/feel/project/poetry.lock'

  at ~/.local/lib/python3.8/site-packages/tomlkit/toml_file.py:19 in read
      15│     def __init__(self, path):  # type: (str) -> None
      16│         self._path = path
      17│ 
      18│     def read(self):  # type: () -> TOMLDocument
    → 19│         with io.open(self._path, encoding="utf-8") as f:
      20│             return loads(f.read())
      21│ 
      22│     def write(self, data):  # type: (TOMLDocument) -> None
      23│         with io.open(self._path, "w", encoding="utf-8") as f:
