<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="UNNAMED" description="This is a social media app I'm making to learn how to make web apps">
  <title>UNNAMED
  </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'frontend/Style/style.css' %}" />
  <link rel="shortcut icon" href="{% static 'frontend/SVG/like.svg' %}" type="text/svg" />
  <link rel="stylesheet" href="{% static 'frontend/Style/bootstrap.min.css' %}" />
</head>

<body>
  <div id="root"></div>
  <script defer async src="{% static 'frontend/main.js' %}"></script>
</body>

</html>