$teal-color: #3d9970;
$light-color: rgb(238, 238, 238);

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../Fonts/HindSiliguri-Medium.eot');
  src: url('../Fonts/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/HindSiliguri-Medium.woff2') format('woff2'),
    url('../Fonts/HindSiliguri-Medium.woff') format('woff'),
    url('../Fonts/HindSiliguri-Medium.svg#HindSiliguri-Medium') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Hind Siliguri",
    sans-serif;
}

*:not(.container, .post-text) {
  transition: all 0.2s;
}

.root {
  padding: 0em;
  margin: 0em;
  width: 100% !important;
}

.label-hide {
  opacity: 0;
  height: 0.001em;
  padding: 0em;
  margin: 0em;
}

.form-auth {
  padding: 3em;
  height: 100%;
}

.post-body {
  padding: 0.2em;
  border: 1em 0;
}

.app-alert {
  font-size: 1.5em !important;
  margin: auto;
  width: 70%;
  padding: 0.15em;
  border-radius: 0.1em;
  box-shadow: 0.007em 0 0.07em $light-color;
}

.container {
  width: 70%;
}

.nav-bar {
  top: 0;
  position: sticky !important;
  display: block;
}

.spinner {
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10vh;
}

.card-text-expanded {
  max-height: none;
}

.card-text {
  max-height: 40vh;
  overflow: hidden;
}

.post,
.card {
  width: 90%;
  padding: 0.7em;
  margin: 0.5em;
  border-radius: 0.4em;
  border: 0.03em solid $light-color !important;
  box-shadow: 0.01em 0 0.1em rgb(159, 158, 158);

  .comment-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 7vh;
    padding: 0.1em;
    margin: 0;

    #comment {
      display: inline-block;
      width: 69%;
    }

    #btn {
      width: 29%;
      display: inline-block;
    }
  }

  &-top {
    .post-info-top {
      display: block;
      width: 100%;
      font-size: 0.85em;
      border-radius: 0.5em;

      .post-user {
        display: inline;
        color: #39cccc;
      }

      .post-time {
        text-align: left;
      }
    }

    .post-title {
      padding: 0.2em;
      width: 100%;
      margin: 0;
    }
  }

  .post-text {
    padding: 0.4em;
    margin: 0.1em;
    border-top: 0.06em solid rgb(159, 158, 158);
    border-bottom: 0.06em solid rgb(159, 158, 158);
    max-height: 32vh;
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;

    .more {
      z-index: 1000001;
      position: absolute;
      background: rgba(0, 0, 0, 0);
      color: blue;
      border: none;
      right: 5em;
      bottom: 6em;
      outline: none;
    }

    .more:focus {
      outline: none;
    }
  }

  .info-bottom {
    display: flex;
    justify-content: space-around;
    width: 17%;

    .like {
      .like-icon {
        display: inline-block;
        padding: 0.2em;
        margin: 0.1em;
        height: 1.8em;
        width: 1.8em;
        transform: scale(0.9);
        transition: all 0.2s;
      }

      .like-icon:hover {
        opacity: 0.5;
        transform: scale(0.75);
      }
    }
  }
}

.notification {
  display: block;
  padding: 0.7em;
  width: 90%;
  font-size: 1.35em;
  border-radius: 0.3em;
  border: 0.03em solid $light-color !important;
  box-shadow: 0.01em 0 0.1em rgb(159, 158, 158);
  margin: 0.5em 0em;

  .notification-post {
    width: 97%;
    display: block;
    border-top: 0.03em solid $light-color !important;
    font-size: 1.34em;
    padding: 0.85em;
    color: rgb(29, 29, 29);
    text-decoration: none;
    transition: all 0.1s;
  }

  .notification-post-comment {
    padding: 0.3em;
    font-size: 1em;
  }

  .notification-post:hover:not(.notification-post-comment) {
    padding: 0.67em;
  }
}

@keyframes likeAnimation {
  0% {
    width: 9%;
    transform: scale(1.5);
  }

  45% {
    width: 6%;
    transform: scale(0.9);
  }

  100% {
    width: initial;
    transform: scale(1);
  }
}

.to-up {
  border: none;
  background: none;
}

.to-up:focus {
  outline: none;
}



.account-info {
  display: block;
  width: 95%;
  background-color: rgb(255, 255, 255);
  opacity: 0.95;
  border-radius: 0.2em;
  padding: 0.8em;
  height: 40% !important;
  border: 0.1em solid rgba(150, 147, 147, 0.5);

  .svg {
    transform: scale(1.1);
    padding: 0;
    display: inline-block;
    margin: auto;
    height: fit-content;
    width: fit-content;
  }

  .account-info-top {
    margin-bottom: 0.45em;
    border-bottom: 0.1em solid rgba(82, 82, 82, 0.5);

    .username {
      font-size: 1.7em;
      width: 90%;
      overflow: hidden;
    }
  }

  .info-mini {
    padding: 0.1em;
    font-size: 1.4em;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    margin: 0.04em;

    .info {
      display: flex;
      align-items: center;
      padding: 0.15em;
      border-radius: 0.05em;
      margin: 0.15em;
      min-width: 10%;
      min-height: fit-content;
    }

    .info:hover {
      opacity: 0.7;
    }
  }

  .options {
    padding: 0.1em;
    list-style-type: none;

    .option {
      padding: 0.1em;
      font-size: 1.5em;
      border-bottom: 0.1em solid rgba(82, 82, 82, 0.5);

      button {
        min-height: 1.5vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}

.account-info:hover {
  opacity: 0.9;
}


.btn-teal {
  background-color: $teal-color !important;
  color: rgb(248, 248, 248) !important;
}

.main {
  margin-top: 12vh;
}

nav {
  z-index: 100000000;
  font-weight: 200;
  height: 12vh;
  display: block;
  background-color: $teal-color;
  align-items: center;
  margin-bottom: auto;

  .nav-top {
    .navbar-brand {
      color: $light-color;
      padding: 0.4em;
      font-size: 1.9em !important;
    }

    .navbar-brand:hover {
      color: $light-color;
    }

    .fa {
      display: none;
    }
  }

  .navbar-items {
    width: 85%;
    padding: 0.2em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    margin: 0;
    right: 5;

    .right {
      right: 0;
      display: flex;
      justify-content: space-around;
      width: 22%;
    }

    .left {
      left: 0;
      display: flex;
      justify-content: space-around;
      width: 15%;
    }

    .navItem {
      .nav-link {
        color: rgb(248, 248, 248) !important;
        text-decoration: none !important;
      }

      .nav-link:hover {
        text-decoration: none !important;
      }
    }
  }
}

@media only screen and (max-width: 1420px) {
  .container {
    width: 80%;
  }

  nav {
    .navbar-items {
      width: 74%;

      .right {
        width: 25%;
      }

      .left {
        width: 32%;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  body {
    width: 100%;
  }

  #main {
    margin: auto;
  }


  .notification {
    width: 99%;
  }

  .post,
  .card {
    width: 95%;

    .info-bottom {
      width: 40%;
    }
  }


  .container {
    width: 100% !important;
  }

  .main {
    margin-top: 9vh !important;
    width: 100% !important;
  }

  #line1 {
    transform: translateX(-90%);
    opacity: 0;
  }

  #line0 {
    border-radius: 10em;
    transform: rotate(45deg);
    rx: 0.5em;
  }

  #line2 {
    border-radius: 10em;
    transform: rotate(-45deg);
    rx: 0.5em;
  }

  .line0 {
    transform: rotate(0deg);
    transform-origin: left top;
    transition: all 0.2s;
  }

  .line1 {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.15s;
  }

  .line2 {
    transform: rotate(0deg);
    transform-origin: left bottom;
    transition: all 0.2s;
  }

  nav {
    height: 9vh;

    .nav-top {
      display: block;
      width: 100%;
      height: 9vh;
      display: flex;
      align-items: center;

      .navbar-brand {
        width: 70%;
        text-align: center;
        display: inline-block;
      }

      .fa {
        width: 20%;
        display: inline-block;
        transition: all 0.5s;
        padding: 0.1em;
        overflow: visible;
      }

      #fa {
        transform: scale(0.8);
        padding: 0.2em;
      }
    }

    #navitems-block {
      transform: translateX(0%) scale(1);
      opacity: 0.9;
    }

    #navitems-none {
      transform: translateX(100%) scale(0.9);
      opacity: 0;
    }

    .navbar-items {
      background-color: $teal-color;
      width: 100%;
      flex-direction: column;
      height: 91vh;
      transform: translateX(100%);
      display: flex;
      opacity: 0;
      transition: all 0.2s;

      #right {
        height: 68.5vh;

        .nav-link {
          line-height: 34.25vh;
        }
      }

      .left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 36.4vh;
        width: 100%;

        .nav-link {
          width: 100%;
          line-height: 18.2vh;
          text-align: center;
          height: 18.2vh;
        }
      }

      .right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 54.6vh;
        width: 100%;

        .nav-link {
          width: 100%;
          text-align: center;
          line-height: 18.2vh;
          height: 18.2vh;
        }
      }
    }
  }
}

@keyframes navCome {
  from {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
    display: flex;
  }
}